@import 'variables';
@import 'mixin';




body{
	font: $base-font-style $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	background-color: $page-bg;
	color:#444;
	margin:0;
}

@import 'header';
@import 'menu';

.team{
	&:after{
		display: block;
		clear: both;
		content:"";
	}
}
.member{
	@include square100;
	float: left;
	margin:10px;
	overflow:hidden;
	img{
		width:100%;
		height:auto;
		display: block
	}
}

.member2{
	@include square(200px);
	float: left;
	margin:10px;
	overflow:hidden;
	img{
		width:100%;
		height:auto;
		display: block
	}
}
.member3{
	@include square(25%);
	float: left;
	margin:10px;
	overflow:hidden;
	img{
		width:100%;
		height:auto;
		display: block
	}
}

.title{
	font-size:3em;
	color:$primary-color;
	font-family: $heading-font-family;
	border-bottom:solid 3px $primary-color;
}

.title-two{
	@extend .title;
	font-size:2em;
}
.title-three{
	@extend .title;
	font-size:1.5em;
}
.title-error{
	@extend .title;
	/* background-color: #E93131; */
	background-color: $primary-color + #0ff;
	color:#FFF;
}


.sidebar{
	background-color: lighten($primary-color, 20%);
	width:240px;
	&-title{
		font-size:30px;
		background-color: $primary-color;
	}
}
.widget{
	background-color: lighten($primary-color, 20%);
	width:240px;
	&-title{
		font-size:30px;
		background-color: $primary-color;
	}
}

.my-heading{
	font:{
		size:30px;
		weight:500;
		style:italic;
	}
	background:{
		color: $primary-color;
		image: url('../img/bigimage.png');
		position:center;
		repeat:no-repeat;
	}
}

.new-dabba{
	@include square($width);
}

.container{
	border: 1px solid #FFF;
	margin-left: auto;
	margin-right: auto;
	padding:0 15px;

	@media (min-width:768px){
		max-width:768px;
	}
	@media (min-width:980px){
		max-width:980px;
	}
}

.team {
	border: 1px solid #E11212;
	@at-root {
		.member{
			border: 3px solid #449602
		}
	}

}
