/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- fixed | scroll
    ^ default value is scroll
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-position
    values are specified in key words as x & y codordinates
      for x - left center right
      for y - top center bottom
      you can also specify as length

    ^ default value is left top - 0 0
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

background [color image repeat attachment position]

~  background-size – auto | contain | cover | -length-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate




Sprites - 
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */



.dabba{
  background-color: rgb(208, 25, 176);
  width: 800px;
  min-height:250px;
  margin:20px auto;
}
.bg-img{
  background-image: url('../img/icon-help.png');
  background-repeat: no-repeat;
  background-position: 400px 125px;
}

/*----------  Simple nav  ----------*/

.simple-nav{
  background-color: #005b9f;

  text-align: center;

  border-bottom: solid 4px #ff9d3f;
  padding: 15px;
}

.simple-nav a{
  background-color: rgba(255,255,255,.75);
  color:#666;
  text-decoration: none;
  line-height: 30px;
  font-size:14px;
  text-transform: uppercase;
  display: inline-block;

  padding:0 15px;
  transition: all 250ms ease;
  border-radius:15px;
}
.simple-nav a.active{
  background-color: #f57c00;
  color:#FFF;
}
.simple-nav a:hover{
  background-color: #f57c00;
  color:#FFF;
}

/*----------  background image demo  ----------*/

.demo1{
  background-color: #DCDCDC;
  background-image: url('../img/banner.jpg');
  background-repeat: repeat;
  background-attachment: scroll;

  width:95%;
  height:500px;
  margin:0 auto;
  border: solid 5px #C42DF5;
}
.demo2{
  background-color: #DCDCDC;
  background-image: url('../img/horse-1210043_1920.jpg');
  background-repeat: repeat;
  background-attachment: fixed;

  width:95%;
  height:500px;
  margin:0 auto;
  border: solid 5px #C42DF5;
}
.demo3{
  background-color: #DCDCDC;
  background-image: url('../img/bg-grid.jpg');
  background-attachment: scroll;

  width:95%;
  height:500px;
  margin:0 auto;
  border: solid 5px #C42DF5;
}

/*----------  Background position  ----------*/
.demo4{
  background-color: #DCDCDC;
  background-image: url('../img/bg-grid.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;

  /* background: #DCDCDC url('../img/bg-grid.jpg') no-repeat fixed 50% 0%; */


  width:55%;
  height:400px;
  margin:0 auto;
  border: solid 5px #C42DF5;
}

/*----------  Background Size  ----------*/
.demo5{
  background-color: #DCDCDC;
  background-image: url('../img/horse-1210043_1920.jpg');
  background-repeat: no-repeat;
  background-size: 300px auto;

  width:55%;
  height:400px;
  margin:0 auto;
  border: solid 5px #C42DF5;
}

/*----------  Background Clip  ----------*/
.demo6{
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-clip:content-box;
  background-origin:padding-box;
  
  padding:20px;
  width:55%;
  height:300px;
  margin:0 auto;
  border: solid 15px rgba(0,245,0,.5);
}

/*----------  Multiple Backgrounds  ----------*/
.demo7{
  background-image:url('../img/diamond-pattern.png'), url('../img/diagnal-lines-pattern.png'), url('../img/banner.jpg');
  background-repeat:repeat, repeat, no-repeat;
  background-origin:padding-box, padding-box, border-box;
  background-attachment: fixed, scroll, fixed;

  padding:20px;
  width:55%;
  height:300px;
  margin:0 auto;
  border: solid 15px rgba(0,245,0,.5);
}

/*----------  Gradient Backgrounds  ----------*/
.demo8{
  background: linear-gradient(23deg, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);

  padding:20px;
  width:55%;
  height:300px;
  margin:0 auto;
  border: solid 15px rgba(0,245,0,.5);
  transition: all 250ms ease;
}
.demo8:hover{
  background: linear-gradient(90deg, #0775BD 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
}




.spacer{
  margin:20px;
  min-height:300px;
  border-left: dotted 1px red;
}


nav ul li{

}


hr + h2{
  
}



