		/* This one is a CSS comment*/

		/*=================================
		=            Selectors            =
		=================================
		
		selector-name{
			css-rule : value;
			css-rule : value;
			css-rule : value;
			....;
			....;
			....;
		}

		Universal Selectors
			They are applied to all the html elements of that documnet
		*{
			css-rule : value;
			....
		}


		Tag or Type Selectors
		p{
			css-rule : value;
			....
		}

		Class Selectors
		.user-defined-name{
			css-rule : value;
			....
		}

		id Selectors
		#user-defined-name{
			css-rule : value;
			....
		}

		descendant Selectors
		psuedo Selectors - there are two types
			
		1.	psuedo classes - starts with :
					:link, :hover, :active, :focus, :first-child, :last-child, :nth-child()
		2. 	psuedo elements - starts with ::
					::after, ::before, ::first-line, ::first-letter, ::selection

		attribute Selectors
		[attribute-name]{
			css-rule : value;
			....
		}
		=====  End of Selectors  ======*/


html{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#444;
	font-size:16px;
	line-height: 1.4;
}

.site-header{}
.site-header h1 {
	text-align: center;
}
.site-header h1 a{
	font-size:56px;
	font-weight:400;
	font-family: 'Slabo 27px', serif;
	text-decoration: none;
	color:#C46F00;
}
/*----------  main nav  ----------*/

.site-header nav{
}
.site-header nav ul{
	text-align: center;
	list-style: none;
	padding-left: 0;
}
.site-header nav ul li{
	display: inline-block;
}





/*----------  Styles for Homepage blocks  ----------*/
.blocks{
	padding-left: 0;
	margin: 40px 0;
	list-style: none;
}
.blocks:after{
	content:"";
	display: block;
	clear: both;
}
.blocks li{
	width: 25%;
	float: left;
}
.blocks li a{
	display: block;
	padding: 15px;
	margin:15px;
	background-color: #F4DEFF;
	border-radius:6px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}
.blocks li a:hover{
	background-color: #A700FA;
	color:#FFF;
}




