body {
  font: normal 300 16px/1.4 Roboto, sans-serif;
  background-color: #abb4e2;
  color: #444;
  margin: 0;
}

/*  Site-header block */
.site-header {
  background-color: #f7f8fc;
  border-bottom: solid 6px #0a0d1e;
  padding: 10px;
  text-align: center;
}
.site-header h1 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  color: #3f51b5;
}
.site-header h1 small {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.site-header .ham {
  display: none;
}
.site-header nav {
  background-color: #32408f;
  padding: 10px;
  border-radius: 8px 0;
  border: solid 1px #FFF;
}

.menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 8px;
  border-radius: 8px 0;
  border: solid 1px #FFF;
}
.menu li a:hover {
  background-color: #FFF;
  color: #3f51b5;
}
.sub-menu {
  display: none;
}

.team:after {
  display: block;
  clear: both;
  content: "";
}

.member {
  width: 100px;
  height: 100px;
  border-radius: 8px 0;
  border: solid 1px #FFF;
  background-color: #3f51b5;
  float: left;
  margin: 10px;
  overflow: hidden;
}
.member img {
  width: 100%;
  height: auto;
  display: block;
}

.member2 {
  width: 200px;
  height: 200px;
  border-radius: 8px 0;
  border: solid 1px #FFF;
  background-color: #3f51b5;
  float: left;
  margin: 10px;
  overflow: hidden;
}
.member2 img {
  width: 100%;
  height: auto;
  display: block;
}

.member3 {
  width: 25%;
  height: 25%;
  border-radius: 8px 0;
  border: solid 1px #FFF;
  background-color: #3f51b5;
  float: left;
  margin: 10px;
  overflow: hidden;
}
.member3 img {
  width: 100%;
  height: auto;
  display: block;
}

.title, .title-two, .title-three, .title-error {
  font-size: 3em;
  color: #3f51b5;
  font-family: "Roboto Slab", serif;
  border-bottom: solid 3px #3f51b5;
}

.title-two {
  font-size: 2em;
}

.title-three {
  font-size: 1.5em;
}

.title-error {
  /* background-color: #E93131; */
  background-color: #3fffff;
  color: #FFF;
}

.sidebar {
  background-color: #8591d5;
  width: 240px;
}
.sidebar-title {
  font-size: 30px;
  background-color: #3f51b5;
}

.widget {
  background-color: #8591d5;
  width: 240px;
}
.widget-title {
  font-size: 30px;
  background-color: #3f51b5;
}

.my-heading {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  background-color: #3f51b5;
  background-image: url("../img/bigimage.png");
  background-position: center;
  background-repeat: no-repeat;
}

.new-dabba {
  width: 140px;
  height: 140px;
  border-radius: 8px 0;
  border: solid 1px #FFF;
  background-color: #3f51b5;
}

.container {
  border: 1px solid #FFF;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 980px) {
  .container {
    max-width: 980px;
  }
}

.team {
  border: 1px solid #E11212;
}
.member {
  border: 3px solid #449602;
}

/*# sourceMappingURL=main.css.map */
